.setting_home_title{
    margin: 30px 72px 30px 72px;
    font-size:  26px;
    font-weight: bold;
}


.setting_manager_container{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius:5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin:30px 72px 30px 72px;
    display: flex;
    flex-direction: column;
}

.edit_profile_container1 {
    flex-direction:column;
    padding: 20px;
    background-color:#F2F2F2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}